<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Courselist</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Edit Course</h1>
	<div>
		<form th:object="${course}" th:action="@{../saveCourse}" action="#"
			method="post">

			<label for="id"></label> <input type="hidden" id="id"
				th:field="*{id}" readonly="readonly" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="name">Name</label> <input type="text" id="name"
				th:field="*{name}" />
			<div style="clear: both; display: block; height: 10px;"></div>
			<label for="code">Code</label> <input type="text" id="code"
				th:field="*{code}" />
			<br>
			<label for="teacherlist">Teacher</label> 
			<select id="teacherlist"
				th:field="*{teacher}" class="form-control">
				<option th:each="teacher: ${teachers}"
					th:value="${teacher.teacherid}" th:text="${teacher.name}"></option>
			</select>
			<div style="clear: both; display: block; height: 10px;"></div>

			<input class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>