<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Teacher list</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Hey, [[${#httpServletRequest.remoteUser}]]!</h1> 
	<h1>Teachers</h1>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Course</th>
		</tr>
		<tr th:each="teacher : ${teachers}">
			<td th:text="${teacher.name}"></td>
		 	<td th:each="course: ${teacher.courses}">
		 		<ul th:text="${course.name}"></ul>
		 	</td>   		
			<td> <a class="btn btn-danger"
				th:href="@{/deleteTeacher/{id}(id=${teacher.teacherid})}">Delete</a>
		</tr>
	</table>
		<a class="btn btn-success" href="/courses">Back To Courses</a>
	<div sec:authorize="hasAuthority('ADMIN')">
	<a class="btn btn-success" href="/addteacher">Add Teachers</a>
	</div>
	 <form th:action="@{/logout}" method="post">
		<input type="submit" class="btn btn-danger" value="Sign Out" />
	</form> 
</body>
</html>